*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Outfit;
    font-size: 15px;
}

.container{
    background-color: hsl(0, 0%, 100%);
    padding: 1%;
    border-radius: 5%;
    width: 22%;
}

.qr-img{
    width: 20vw;
    border-radius: 3%;
}

.qr-desc{
    padding:7% 3%;
    text-align: center;
}

.qr-desc h1{
    color: hsl(218, 44%, 22%);
    padding-bottom: 5%;
    font-size: 20px;
}

.qr-desc p{
    color: hsl(220, 15%, 55%);
}

@media (max-width:425px){
       .container{
        width:66%;
    }
    
    .qr-img{
        width: 64vw;
        justify-content: center;
        padding: 4%;
    }
}